<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Sherpa Rentals</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <!-- Favicone Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/sarrow.png">
    <link rel="icon" type="image/png" href="img/sarrow.png">
    <link rel="apple-touch-icon" href="img/sarrow.png">
    <!-- CSS -->
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="css/ionicons.css" rel="stylesheet" type="text/css" />
    <link href="css/plugin/sidebar-menu.css" rel="stylesheet" type="text/css" />
    <link href="css/plugin/animate.css" rel="stylesheet" type="text/css" />
    <link href="css/jquery-ui.css" rel="stylesheet" type="text/css" />
</head>

<body>
Hmm
{{{body}}}
</body>

</html>